<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :phone %><br />
  <%= f.text_field :phone %>
</div>
<div class="field">
  <%= f.label :postal_code %><br />
  <%= f.text_field :postal_code %>
</div>
<div class="field">
  <%= f.label :community_id %><br />
  <%= f.collection_select(:community_id, @communities, :id, :location) %>
</div>
<div class="field">
  <%= f.check_box :community_league_member %> <%= f.label :community_league_member, "I am a member of my community league" %>
</div>
<br />
<div class="field">
  <%= f.check_box :newsletter_signup %> <%= f.label :newsletter_signup, "I want to receive the Next Gen Newsletter" %>
</div>
<br />
<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation, "Confirmation" %><br />
  <%= f.password_field :password_confirmation %>
</div>
