<% if current_community?(@community) || is_admin?(@user.id) %>
  <div style="padding-bottom: 10px">
    <h2>Team <%= @user.community.name || @user.community.location %></h2>
  </div>
  
  <div style="padding-bottom: 10px">
  <% if is_admin?(current_user.id) %>
      <p>You can go back a to a list of all teams <%= link_to "here", full_listing_path %></p>
      <p>You can e-mail this entire team <%= link_to "by clicking here", mass_email(@team) %>.</p>
      <p>If you are done, you can <%= link_to "sign out here", signout_path %>.</p>
  <% else %>
      <p>This is your team, <strong><%= @user.name %></strong>.</p>
      <% if current_user?(@user) %>
        <p>If you want to change your contact information, you can <%= link_to "change it here", edit_user_path(current_user) %>.</p>
      <% end %>
      <p>You can also E-mail Your Entire Team <%= link_to "by clicking here", mass_email(@team) %>.</p>
      <p>When you are done, you can <%= link_to "sign out here", signout_path %>.</p>
  <% end %>

    
  </div>
  <br style="clear:both;">
  
  <table class="cuser-table">
    <tr>
      <th>Name</th><th>E-mail</th><th>Phone Number</th>
    </tr>
  <% for member in @team %>
    <tr class="<%= captain?(member) %> <%= cycle('tlight', 'tdark') %>">
      <td><%= captain?(member,'label') %></td><td><%= member.email %></td><td><%= member.phone %></td>
    </tr>
  <% end %>
  </table>

<% else %>
    Sorry, you aren't allowed to see another team's information.
  
<% end %>